header{
background: white;
position: fixed;
top:0;
width: 100%;
border-style: solid;
}
.top-header{
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  height : 40px;

}
.header-a{
  color: white;
  text-decoration: underline;
}
body{
  background: white;
  width:100%;

}

.body-header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  height : 70px;


}
.nav{
  text-decoration: line-through;
}
h1{
  font-size: 15px;
}
.body-page{
  display: flex;
  background:#FF6363;
  padding:100%;
  border-style: solid;
  position: inherit;


}
