header{
background-color: #333;
width: 100%;
height: 70px;
text-align: center;
top:0;
position: fixed;
font-family: fantasy;
color:#fff;
border-bottom: 2px solid Tomato;

}
body{
margin-top: 150px;
background-color: #fff;
font-family: fantasy;

}
footer{
  background-color: #333;
  width: 100%;
  height: 120px;
  text-align: center;
  font-family: fantasy;
  color:#fff;
  border-top: 2px solid Tomato;
  border-bottom: 2px solid Tomato;

}
section{
  width: 100%;
  height: 700px;

}
.footer-container{
  bottom: 0;
}
#records_table table, tr, td {
    border: 1px solid black;
    width:100%
}
#student_table td{
  border: none;
}
.footer-container{
  margin-top: 20px;
  bottom:0;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.table-box{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.student_table_box{

  border: 5px solid #888888;
  height: 500px;
  width: 500px;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  position: absolute;
}
.records_table_box{
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  border: 5px solid #888888;
  height: 500px;
  width: 500px;
  position: absolute;

}
