header {
background: #fff;
border-style: solid;
position: fixed;
top:0;
width: 100%;
}
.top-header{
  align-items: center;
  background: #333;
  display: flex;
  height : 40px;
  justify-content: center;

}

.header-a{
  color: white;
  text-decoration: underline;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 12px;

}
.navbar-brand {
display: flex;
justify-content: flex-start;
align-items: center;
}

.navbar-brand2 {
display: flex;
justify-content: flex-end;
align-items: center;

}

.navbar-nav{
  display: flex;
  align-items: center;
  margin-left: 200px;
}
body{
  background: white;
  width:100%;
  height: 500px;

}


.nav-item a:hover {
  box-shadow: 0 5px  rgba(0,0,0,.15);

}


h2{
  color:#333;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  text-align: center;
  margin:0 20px;
  text-decoration: none;
  box-shadow: none;

}
h3{
  color:#333;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

}
#navbarDropdownMenuLink{
  color:#333;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  text-decoration: none;
}

img{
  width: 180px;
}
h4{
  color:#333;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.body-organe{
  background:#FF6363;
  border-style: solid;
  max-width: 100%;
  padding:20px;
  text-align: center;


}
.body-pageheader p{
  font-weight: 200;
  clear: both;
  color: #fff;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 40px;
  padding-top: 100px;
}
.body-pageheader2 p{
  color: rgb(254, 255, 116);
  font-family: nyt-franklin;
  font-size: 40px;
}
.body-pageheader3 p{
  font-weight: 200;
  clear: both;
  color: #fff;
  font-family: nyt-franklin;

}
h1{
  font-size: 16px;
  margin-top: 20px;
  align-items: center;
}

.top{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  height: 50px;
  margin-top: 15px;
}
.top h1{
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;

}

.flex-body-pagemain{
  display: flex;
  justify-content: space-around;
  padding: 90px;
}
.flex-body-pagemain2{
  display: flex;
  justify-content: space-around;
  padding: 0 90px;
  text-align: justify;


}
.flex-body-pagemain3{
  display: flex;
  padding: 0  90px;
}
.flex-body-pagemain4{
  display: flex;
  padding: 0  110px;
  margin-bottom: 40px;
}
.flex-body-pagemain5{
  display: flex;
  justify-content: flex-start;
  padding: 0  90px;

}
.flex-body-pagemain3 h1{
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  text-align: justify;
  margin-left: 20px;

}
.flex-body-pagemain5 h1{
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  text-align: justify;

}
.body-pagefooter{
  display: flex;
  justify-content: flex-start;
  padding: 0  110px;

}
.body-pagefooter2{
  display: flex;
  justify-content: flex-start;
  padding: 0  110px;

}
.flex-body-pagemain h1{
  font-size: 20px;
  color:#fff;
  margin-top: 20px;
  margin-left: 20px;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}

.flex-body-pagemain b{
text-decoration: line-through;
}
#lowertext{
  font-size: 20px;
  color:#fff;
  margin-top: 40px;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
#lowertext1{
  font-size: 14px;
  color:#fff;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
#lowertext2{
  font-size: 20px;
  color:#fff;
  margin-top: 40px;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
#lowertext3{
  font-size: 14px;
  color:#fff;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
#lowertext4{
  font-size: 20px;
  color:#fff;
  margin-top: 40px;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
#lowertext5{
  font-size: 14px;
  color:#fff;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
.in1{
  background-color: #00FFFF;
  height:200px;
  width: 340px;
  border-radius: 5px;

}
.in-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  height: 30px;
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.5);
  cursor: pointer;

  margin-left: 20px;
  margin-right: 20px;

}
.in-flex a{
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color:#fff;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
.in2{
  background-color: #0000FF;
  height:200px;
  width: 340px;
  border-radius: 5px;

}
.in3{
  background-color: #333;

  height:200px;
  width: 340px;
  border-radius: 5px;
}
.incheck1{
  background-color: #fff;
  width: 340px;
}
.incheck2{
  background-color: #fff;
  width: 340px;
}
.incheck3{
  background-color: #fff;
  width: 340px;
}
#dimtext{
  font-size: 12px;
  color: gray;
}
.flex-body-pagemain2 p{
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
}
.flex-body-pagemain2 h1{
  font-weight: 200;
  font-size: 14px;
}
.flex-rows{
  display: flex;
  flex-direction: row;

}
.flex-cols{
  display: flex;
  flex-direction: column;

}
.in-flexcols{
  width: 400px;
  height: 150px;
  background-color: 	#708090 ;
  border: solid;
  margin-bottom: 20px;
  margin-left: 20px;
}
.in-flexcols h1{
  margin-left: 15px;
  margin-right: 15px;

}
.in-flexcols a{
text-decoration: underline;

}
#Frenquency{
  display: none;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
}

.flex-inbox{

  background-color: blue;
  border-radius: 5px;
  margin-left: 110px;
  height: 20px;
  width: 200px;
 text-align: center;
}
.flex-inbox p{
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  color: #fff;
}
footer{
  background: #333;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  bottom: 0;
}
